<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../head.ejs") %>
</head>
<body>
    <section>
        <div class="container">
            <h2>Danh sách User:</h2>
            <a href="/users/create">Thêm sản phẩm</a>
            <table class="table">
                <thead>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile Number</th>
                    <th>User</th>
                </thead>
                <tbody>
                    <% products.forEach(e=>{ %>
                        <tr>
                            <td><%= e.firstname %></td>
                            <td><%= e.lastname %></td>
                            <td><%= e.mobile %></td>
                            <td><%= e.username %></td>
                        </tr>    
                   <% }) %>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>